/* =========================================
   FAQ
========================================= */

.faq-item {

  margin-bottom: 40px;
}


.faq-item h2 {

  margin-bottom: 12px;
}


.faq-item p {

  margin-bottom: 12px;
}
